* {
  margin: 0;
  padding: 0;
}
$bg-for-header: #2b244d;

body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(0, 0, 0);

  main {
    width: 95%;
    height: 850px;
    border-radius: 12px;
    align-self: center;
    padding: 35px;
    box-sizing: border-box;
    background: linear-gradient(
      to top right,
      rgb(219, 81, 113),
      rgb(217, 88, 106),
      rgb(215, 95, 100),
      rgb(214, 102, 93),
      rgb(212, 109, 86),
      rgb(210, 116, 80),
      rgb(208, 122, 73),
      rgb(206, 129, 67),
      rgb(204, 136, 60),
      rgb(203, 143, 53),
      rgb(201, 150, 47),
      rgb(199, 157, 40)
    );
    .main__about-weather {
      width: max-content;
      max-height: 167px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .about-weather__degrees {
        .main__text {
          display: flex;
          align-items: center;
          color: white;
          margin: 20px;
        }
        #main__degrees {
          font-size: 5em;
          display: flex;
          align-items: center;
        }
        .main__metric {
          font-size: 5em;
        }
        .degrees__circle {
          font-size: 0.35em !important;
          margin-top: -70px;
          margin-left: 10px;
        }
        .main__text-feels-like {
          color: white;
          font-size: 1.5em;
          margin: 25px;
          margin-top: -20px;
          display: flex;
          align-items: center;

          .feels-like__circle {
            font-size: 0.35em !important;
            margin-top: -20px;
            margin-left: 5px;
          }

          .main__metric {
            font-size: 1em;
          }
        }
      }
      .about-weather__other-information {
        display: flex;
        align-content: space-between;
        margin-left: 25px;
        .other-information__column {
          display: flex;
          flex-direction: column;
          align-content: space-between;
          justify-content: space-between;
          flex-wrap: wrap;
          max-height: 159px;
          .other-information__text {
            color: whitesmoke;
            font-size: 1.5rem;
            margin: 10px 15px;

            .other-information__text-span {
              color: white;
              font-weight: 600;
            }
          }
        }
      }
    }

    #city-name {
      color: white;
      font-size: 3rem;
      position: relative;
      top: -160px;
      left: 1350px;
      max-width: 418px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: max-content;
    }
    .main__date {
      color: white;
      font-weight: bold;
      letter-spacing: 1.7px;
      top: -140px;
      left: 1350px;
      position: relative;
      width: max-content;
    }
    #time {
      @extend .main__date;
      top: -125px;
    }
    #description {
      @extend #time;
      top: -120px;
      left: 1360px;
      font-size: 2rem;
    }
  }

}

@media (max-width: 1440px) {
  body {
    height: max-content;

    main {
      padding: 15px;
      height: 574px !important;
      .main__about-weather {
        width: 290px;
        display: flex;
        flex-direction: column;
        .about-weather__degrees {
          width: max-content;
          margin-top: 130px;
          margin-left: -50px;

          .main__text {
            margin-left: 80px;
          }

          .main__text-feels-like {
            margin: -25px 0 30px 50px;
          }
        }
        .about-weather__other-information {
          flex-direction: column;
          margin-left: 50px;
          margin-top: 125px;
          .other-information__column {
            align-content: center;
            justify-content: center;
            flex-wrap: nowrap;
            height: max-content;
            .other-information__text {
              margin: 5px 0;
              text-align: center;
              width: max-content;
              color: #dcdcdc;
            }
          }
        }
      }

      #city-name {
        font-size: 1.5rem;
        position: absolute;
        top: 500px;
        left: 70px;
        max-width: 320px;
      }
      .main__date {
        top: 45px;
        left: 50px;
        position: absolute;
      }
      #time {
        top: 0;
        left: 135px;
        position: absolute;
        font-size: 1.5em;
      }
      #description {
        position: absolute;
        width: max-content;
        top: 125px;
        left: 80px;
      }
    }
  }
}


@media (max-width: 1024px) {
  body {
    height: max-content;

    main {
      padding: 15px;
      height: 574px !important;
      .main__about-weather {
        width: 290px;
        display: flex;
        flex-direction: column;
        .about-weather__degrees {
          width: max-content;
          margin-top: 130px;
          margin-left: -50px;

          .main__text {
            margin-left: 80px;
          }

          .main__text-feels-like {
            margin: -25px 0 30px 50px;
          }
        }
        .about-weather__other-information {
          flex-direction: column;
          margin-left: 50px;
          margin-top: 125px;
          .other-information__column {
            align-content: center;
            justify-content: center;
            flex-wrap: nowrap;
            height: max-content;
            .other-information__text {
              margin: 5px 0;
              text-align: center;
              width: max-content;
              color: #dcdcdc;
            }
          }
        }
      }

      #city-name {
        font-size: 1.5rem;
        position: absolute;
        top: 500px;
        left: 70px;
        max-width: 320px;
      }
      .main__date {
        top: 45px;
        left: 50px;
        position: absolute;
      }
      #time {
        top: 0;
        left: 135px;
        position: absolute;
        font-size: 1.5em;
      }
      #description {
        position: absolute;
        width: max-content;
        top: 125px;
        left: 80px;
      }
    }
  }
}

@media (max-width: 768px) {
  body {
    height: max-content;

    main {
      padding: 15px;
      height: 574px !important;
      .main__about-weather {
        width: 290px;
        display: flex;
        flex-direction: column;
        .about-weather__degrees {
          width: max-content;
          margin-top: 130px;
          margin-left: -50px;

          .main__text {
            margin-left: 80px;
          }

          .main__text-feels-like {
            margin: -25px 0 30px 50px;
          }
        }
        .about-weather__other-information {
          flex-direction: column;
          margin-left: 50px;
          margin-top: 125px;
          .other-information__column {
            align-content: center;
            justify-content: center;
            flex-wrap: nowrap;
            height: max-content;
            .other-information__text {
              margin: 5px 0;
              text-align: center;
              width: max-content;
              color: #dcdcdc;
            }
          }
        }
      }

      #city-name {
        font-size: 1.5rem;
        position: absolute;
        top: 500px;
        left: 70px;
        max-width: 320px;
      }
      .main__date {
        top: 45px;
        left: 50px;
        position: absolute;
      }
      #time {
        top: 0;
        left: 135px;
        position: absolute;
        font-size: 1.5em;
      }
      #description {
        position: absolute;
        width: max-content;
        top: 125px;
        left: 80px;
      }
    }
  }
}

@media (max-width: 425px) {
  body {
    height: max-content;

    main {
      padding: 15px;
      height: 600px !important;
      .main__about-weather {
        width: 290px;
        display: block;
        .about-weather__degrees {
          width: max-content;
          margin-top: 130px;

          .main__text {
            margin-left: 80px;
          }

          .main__text-feels-like {
            margin: -25px 0 30px 50px;
          }
        }
        .about-weather__other-information {
          flex-direction: column;
          margin-left: 0;
          margin-top: 0;
          .other-information__column {
            align-content: center;
            justify-content: center;
            flex-wrap: nowrap;
            height: max-content;
            .other-information__text {
              margin: 5px 0;
              text-align: center;
              width: max-content;
              color: #dcdcdc;
            }
          }
        }
      }

      #city-name {
        font-size: 1.5rem;
        position: absolute;
        top: 500px;
        left: 70px;
        max-width: 320px;
      }
      .main__date {
        top: 45px;
        left: 50px;
        position: absolute;
      }
      #time {
        top: 0;
        left: 135px;
        position: absolute;
        font-size: 1.5em;
      }
      #description {
        position: absolute;
        width: max-content;
        top: 115px;
        left: 110px;
      }
    }
  }
}

@media (max-width: 375px) {
  body {
    height: max-content;

    main {
      padding: 15px;
      height: 600px !important;
      .main__about-weather {
        width: 290px;
        display: block;
        .about-weather__degrees {
          width: max-content;
          margin-top: 130px;

          .main__text {
            margin-left: 80px;
          }

          .main__text-feels-like {
            margin: -25px 0 30px 50px;
          }
        }
        .about-weather__other-information {
          flex-direction: column;
          margin-left: 0;
          margin-top: 0;
          .other-information__column {
            align-content: center;
            justify-content: center;
            flex-wrap: nowrap;
            height: max-content;
            .other-information__text {
              margin: 5px 0;
              text-align: center;
              width: max-content;
              color: #dcdcdc;
            }
          }
        }
      }

      #city-name {
        font-size: 1.5rem;
        position: absolute;
        top: 500px;
        left: 70px;
        max-width: 320px;
      }
      .main__date {
        top: 45px;
        left: 50px;
        position: absolute;
      }
      #time {
        top: 0;
        left: 135px;
        position: absolute;
        font-size: 1.5em;
      }
      #description {
        position: absolute;
        width: max-content;
        top: 115px;
        left: 110px;
      }
    }
  }
}

@media (max-width: 320px) {
  body {
    height: max-content;

    main {
      padding: 15px;
      height: 620px !important;
      .main__about-weather {
        width: 290px;
        display: block;
        .about-weather__degrees {
          width: max-content;
          margin-top: 130px;

          
        }
        .about-weather__other-information {
          flex-direction: column;
          margin-left: 0;
          margin-top: 0;
          .other-information__column {
            align-content: center;
            justify-content: center;
            flex-wrap: nowrap;
            height: max-content;
            .other-information__text {
              margin: 5px 0;
              text-align: center;
              width: max-content;
              color: #dcdcdc;
            }
          }
        }
      }

      #city-name {
        font-size: 1.5rem;
        position: absolute;
        top: 500px;
        left: 70px;
        max-width: 320px;
      }
      .main__date {
        top: 45px;
        left: 30px;
        position: absolute;
      }
      #time {
        top: 0;
        left: 105px;
        position: absolute;
        font-size: 1.5em;
      }
      #description {
        position: absolute;
        width: max-content;
        top: 115px;
        left: 20px;
      }
    }
  }
}
